* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --btn-hover: rgb(84, 84, 162);
    --btn-font-size: 1rem;
    --btn-background-color: rgb(214, 214, 245);
}

.nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: sticky;
}

.nav p {
    color: black;
    font-size: 2em;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}

.nav ul li {
    list-style-type: none;

}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    cursor: pointer;
    color: blue;
}

.menu-btn {
    display: none;
}

.user-button {
    height: 5vh;
    width: 10vw;
    margin-top: 10px;
    color: blue;
    border-radius: 5px;
    transition: all 2s ease-in-out;
}

.user-button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    color: white;
    box-shadow: 0 0 30px black;
}

.main-container {
    display: flex;
    align-items: center;
    margin: 1%;

}

.left-container {
    height: auto;
    width: 40vw;
    flex-direction: column;

    margin-left: 200px;

}

.left-container h2 {
    color: rgb(79, 79, 254);
}

.left-container h1 {
    font-size: 3rem;
}

.left-container h2 {
    font-size: 2rem;
}

.left-container p {
    font-size: 1rem;
}


.right-container {
    height: 70vh;
    width: 30vw;
    margin: 5%;
    background-image: url(images.jpg);
    background-size: cover;
}

.left-container button {
    font-weight: bold;
    color: white;
    color: blue;
    border-radius: 20px;
    margin-top: 20px;
    height: 10vh;
    width: 20vw;
    transition: all 3s ease-in-out;
}

.left-container button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 40px black;
}

/* btn animation */
.btn:hover{
   transform: rotate(-8deg) scalex(1.2);
}



